[2015-03-09 11:16] bep opened #3 "Polish theme site"
See shell script in:

https://github.com/spf13/hugoThemeSiteScript

This now runs fine and builds a site with all the themes.

To run it locally:

`./generateThemeSite.sh http://localhost:1313 && hugo server  -s hugoThemeSite/themeSite`

Most of the themes are now up-to-spec, but the site needs some general polishing:

* Do the necessary HTML/CSS adjustments to make it look good.
* Consider removi

[2015-03-09 11:23] bep opened #4 "Add support for custom params in theme demos"
See:

https://github.com/spf13/HugoBasicExample

Also see #3 for how-to-build-this-site.

This is the site used for all the theme demos. In the config.toml there are some added params to get the themes up and running.

But there are more custom params that could be added so the different themes get the best possible presentation.

Casper is one, that takes a "big image" as site param.

We need som

[2015-03-11 05:45] kotp opened #5 "http://themes.gohugo.io/ site is not serving"
The site is down, or incorrect, in either case, it is not available when I try to browse there from the [repository](https://github.com/spf13/hugoThemesSite) link at the top.

[2015-03-16 19:55] bep commented on #5
It's under construction and not live, yet.

[2015-03-16 19:55] #5 closed

[2015-03-16 21:44] kotp commented on #5
This issue is now closed, so indicating that it is now live?  Or the dead link is gone, or a notification that it is not yet live is communicated where it is posted?  Or am I reading too much into the communciation that a closed issue provides?

[2015-03-16 22:08] bep commented on #5
I would say it's fair to say that it's a bug/issue if Google.com is down.

A site that is under construction: I would say that this is the normal situation, and closing the issue seems fair.

Having issues for everything that isn't -- isn't worth it.

But, feel free to disagree.

I will add a note in the README that it isn't up yet.

[2015-03-17 08:20] kotp commented on #5
Yeah, the only thing I was commenting on was the 'close' without a comment as to what that communicates itself.  Also, without a label, it was hard to take the intent of the close for what it was.

Thanks for the note in README, at least.  I think a one word addition to "Site Layout for http://themes.gohugo.io . Includes script to generate content from all themes in hugoThemes." with the word "Fut

[2015-03-18 20:16] bep commented on #3
@alireza-ahmadi Any status update on this?

/cc @dcorb

[2015-03-20 10:36] alireza-ahmadi commented on #3
@bep I was too busy in the last week, but the next week is holiday in my country and I have some time to work more on this issue.

[2015-03-27 17:36] alireza-ahmadi commented on #3
@spf13 @bep I have applied some minor tweaks on the HugoThemeSite, But I think for getting the best result, we should polish the entire **gohugo.io** website. So if you are agree, I want to redesign the Hugo website, Otherwise I will finish current tweaks without editing other parts of website. We can talk about this on [Gitter](http://gitter.im) channel.

You can see some of WIP tweaks in [this s

[2015-03-27 18:01] bep commented on #3
I think it looks really nice.

@spf13 is the decision maker here.

[2015-03-27 18:10] spf13 commented on #3
I think it looks awesome! @alireza-ahmadi Welcome aboard.

In the spirt of getting the theme site done asap, perhaps we just make enough tweaks there to get it to a decent place, push it live, then work on the redesign.

[2015-03-27 18:26] alireza-ahmadi commented on #3
@spf13 Well, I will finish the theme site's tweaks in the next two days and then start working on the main site redesign.

[2015-03-27 18:47] spf13 commented on #3
That sounds amazing.

[2015-03-27 20:25] bep commented on #3
@alireza-ahmadi this will be a big seller for Hugo ... I have some functional issues on my list of TODOS, but it may be more motivational to do those with a fresh design.

Just ping me if you have any practical questions ... I'm online ... Often.

[2015-03-27 20:28] spf13 commented on #3
I'm just finishing the biggest undertaking of my career and will be a lot more available from next week on.

[2015-03-27 20:34] alireza-ahmadi commented on #3
After the completion of themes site's polish, We can set a meeting on Gitter and talk about new design,  Certainly your ideas can help me to improve my design.

[2015-04-05 11:48] alireza-ahmadi commented on #3
@bep @spf13 I have pushed changes to [my fork of the repo](https://github.com/alireza-ahmadi/hugoThemesSite/), You can replace my repo URL with the default one in the generator's script and see the changes. Currently it has some bugs, But I am trying to fix them, Also I will improve the design specially on the single page. Your feedback is welcome.

[2015-04-13 19:41] bep commented on #3
@alireza-ahmadi In general I think it is a big, big improvement. I have one suggestion to make it even cleaner: Get rid of the left menu. We should have a link back to gohugo.io somewhere, but it doesn't need a menu to say so. @spf13 agree?

If you could wrap it up in a pull request it would be splendid. There are still some issues that we have to fix, but I believe we are close.

[2015-05-12 20:19] spf13 commented on #3
@alireza-ahmadi You teased us with all the improvements to this site and the docs one. I know a lot of people are dying to see this go live. How is it going? How can we help?

[2015-05-15 08:19] alireza-ahmadi commented on #3
@spf13 I am really sorry, I was too busy in the last month. I will try my best to complete polish of the Hugo themes sites and if for any reason the redesign process does not complete in the next week, I will inform you to assign this task to someone else.

[2015-05-15 15:32] spf13 commented on #3
No need to appologize. We are all volunteers doing this in our "free time" and completely understand. We are just excited to have you on our team and are looking forward to your contributions. 

Best,
Steve

##

Steve Francia
http://stevefrancia.com
http://spf13.com
http://twitter.com/spf13

On Fri, May 15, 2015 at 1:19 AM -0700, "Alireza Ahmadi" notifications@github.com wrote:

@spf13 I am really

[2015-05-31 14:03] bep opened #6 "Fix deprecated warnings in themes"
This involves some PR openings ...

* See Deprecated errors when running this site
* Fix theme, bump min_version => 0.14 and create PR

See https://github.com/spf13/hugo/issues/1172

[2015-05-31 14:05] bep commented on #3
@alireza-ahmadi what is the status of this? I think this issue has been dragging out too long. It's better that you create a Pull Request with what you have done, we can test it, get it in a "good enough" state -- then publish it.

[2015-05-31 21:06] alireza-ahmadi commented on #3
@bep OK, I will create a pull request in next 2 days.

[2015-06-16 20:52] bep commented on #3
@alireza-ahmadi what is the current status on this?

[2015-06-28 16:55] bep commented on #3
@spf13 it doesn't look like this polish thing worked out. What should we do about this site?

[2015-06-28 20:20] alireza-ahmadi commented on #3
@bep I want to say that I am sorry for the last time, I am too busy and my changes on the themes sites are incomplete so I have nothing that fits a pull request, Maybe I should not promised to do this. Hope someone else can polish the theme site.

[2015-07-01 15:47] dplesca commented on #3
Hi all,

I've done a little bit of work on this, using @alireza-ahmadi's work as a starting point. You can see my progress on my fork [here](https://github.com/dplesca/hugoThemesSite). Please let me know if it's alright and whatever else I can do.

[2015-07-01 16:42] spf13 commented on #3
This is super. Thanks @dplesca for jumping in and helping. Thanks @alireza-ahmadi for getting it started. This is open source at it's best. People lending a hand and helping each other.

@dplesca can you send a PR for this work? We'd love to get something usable up even if it needs a bit more polish beyond that.

[2015-07-01 19:08] dplesca commented on #3
I've sent a PR and merged it, I hope that's ok.

[2015-07-01 19:13] spf13 commented on #3
Yes, Thanks!

[2015-07-06 18:06] digitalcraftsman commented on #3
Is there any way or maybe a script that integrates all available themes as content for this theme? It would be nice to see the  current state of the site with live/dummy data.

[2015-07-06 18:28] bep commented on #3
@digitalcraftsman see https://github.com/spf13/hugoThemeSiteScript

There is an open issue that I have meant to do for some time: Figure a way to get theme-specific params into that mix; see #4 -- would be cool if someone could take on that challenge.

[2015-07-07 16:20] digitalcraftsman commented on #3
@bep I cloned the repo and executed the shell script for the setup. Finally the scripts notes to run `hugo server -s hugoThemeSite/themeSite` in order to see the site. But all I get is this error message:

[code]

[2015-07-07 16:23] bep commented on #3
@digitalcraftsman the error is kind of obvious, and I will have a look. This script worked for me at some point, maybe some bad handling of missing values in the themes. Not sure.

[2015-07-07 16:54] bep commented on #3
@digitalcraftsman see https://github.com/spf13/hugoThemeSiteScript/commit/23f153afe24b0ba6af193e17b8d8d47360ca572e I have added a "theme blacklist". The theme(s) will be removed from the blacklist once the pull request is merged. The script should work now.

PS: You must wipe out the bad content in /hugoThemeSiteScript/hugoThemeSite/themeSite/content before you run the script again (this rm should

[2015-07-07 17:18] digitalcraftsman opened #8 "Theme demos will not work with custom data or configurations"
After taking a look at the gallery I saw, that  a demo is generated for each theme. This will work with most themes that require only a basic setup, but at least some of my themes have custom variables in the config file and/or the user needs to copy files in the `data` folder to get their Hugo site running.

[2015-07-07 17:20] #8 closed

[2015-07-07 17:29] digitalcraftsman opened #9 "Authors are linked wrong"
The sections with further information about a theme contains also mentions the author but the name doesn't link to the authors homepage (see `theme.toml` -> homepage). Instead the url to the theme is added (à la `localhost:1313/agency` ).

[2015-07-07 17:34] digitalcraftsman opened #10 "Feature request: Adding a filter to find themes easier"
I would be nice to add a filter to find themes easier. The following filter options could be useful:

- category (blog, portfolio etc.)
- author
- license

Those could be defined in the `theme.toml`

[2015-07-07 18:40] digitalcraftsman opened #12 "Adding a 404 page"

[2015-07-07 19:17] bep commented on #6
I have created a pull request for all deprecation errors in the theme site script.

[2015-07-07 19:32] digitalcraftsman opened #13 "Adding pagination"
It's just an idea but I think it would be senseful to add a pagination to the `index.html` since the list of themes is already quite large and will grow in the future. Therefore a user needs, who browses the theme, has just a huge list.

Furthermore would this increase performance, since less items need to loaded and rendered.

[2015-07-08 15:54] digitalcraftsman opened #14 "Anchor tags of README don't work"
The README of a theme is used to add a more detailed description about the theme. At Github I created a table of contents with anchor tags that are linking to the different sections of the READNE. But this doesn't work in combination with Hugo, because [cross-references](//gohugo.io/extras/crossreferences/) are required. Therefor are the links broken.

[2015-07-08 19:51] dplesca commented on #13
I'm not sure I see the point of pagination in this case. I would like to see all the available themes without clicking through several pages, maybe we should emphasize the tags somehow, for better filtering of themes.

Performance-wise we can make the theme thumbnails to be lazy-loaded so that no excessive downloading takes place. The extra html impact should be pretty marginal.

[2015-07-08 19:58] digitalcraftsman commented on #13
That would be a good compromise. I created already an issue #10 for the filtering.

[2015-07-08 20:10] #9 closed

[2015-07-08 20:44] bep opened #16 "TODO-list for "getting ready for release""
In stead of creating a lot of small tasks in separate issues, lets try to agree on a more compact list here.

- [x] add scripting for theme-specific params. A template file with key-values that the script can append to the config.toml should do. Also think about how to get the param-specific images (banner, logo etc.) into the example site. (@bep)
- [x] handle mismatch of sections used in the diff

[2015-07-08 21:08] bep commented on #16
Lets agree on "what is really needed for the first version". Deployment is easy, so focus on the big picture, get it in a working state, then we can add pagination, filters etc. in the next version.

[2015-07-09 17:44] digitalcraftsman commented on #16
I agree that we should focus our work on the core problems that you listed above.
1. Adding key-value pairs could cause problems, if two themes use the same key with different values. If you make them somehow theme-specific (with the theme name as prefix for example) could  the keys probably not be found be the theme, because the orignal key-name isn't used anymore.
2. I think the question of weth

[2015-07-09 18:02] bep commented on #16
1. Let us face that problem _if_ it is a problem. In my head, the params we would want to fill in is `description`, `author`, `logo`, `slogan`, `banner` etc. -- I have hard time seeing any problems in these areas.
2. Sure, but it's kind of outside of the scope of this task...  maybe ... I'm not sure how to fix it, either -- making "post" the standard section, maybe? With `symbolic link` i meant a

[2015-07-09 18:15] bep commented on #16
Re. post vs blog, it doesn't seem to bee an issue, if my search is correct:

[code]

[2015-07-09 18:38] digitalcraftsman commented on #16
Would it be possible to let `generateThemeSite.sh` output error messages during the generation of the site? This would it make much easier to locate possible issues that could be added to the list.

Furthermore, what would be a good tool to manage this list? Should we use  simple Github repository or somethink like your table made in Google Docs?

And what themes should be added to the blacklist?

[2015-07-09 19:11] digitalcraftsman commented on #16
I regenerated the theme gallery with `generateThemeSite.sh`, extracted the errors during the generation and published them in this gist for the moment. This should be a good basis for our list but we definitely need a different approach to keep track of changes, pull requests and fixes.

[2015-07-09 19:17] bep commented on #16
`./generateThemeSite.sh http://localhost:1313 && hugo server -s hugoThemeSite/themeSite` is the level of error reports you will ever get.

A Google spreadsheet is good for this, lets use this one:

https://docs.google.com/spreadsheets/d/1QNdevhMM9M0ba5Y00sJ6GIbtyR4svb37hc2JsHCVgiU/edit?usp=sharing

Just add new columns as needed. But be pragmatic when checking a theme, think "good enough".

Blackl

[2015-07-09 19:32] digitalcraftsman commented on #16
This sounds good. Hopefully we will finish it soon. But some pull requests will take time.

[2015-07-09 19:37] bep commented on #16
I'm not conviced there will be many pull requests, but time will show ...

I notice some of your themes have some complex data dependencies (agency, artists) that doesn't fit well into this scheme ...

[2015-07-09 19:40] digitalcraftsman commented on #16
Do you mean the files that need to be copied from `examples`?

[2015-07-09 19:47] bep commented on #16
Yes, I think we need to make some `standard` about that one, too.

Most themes follow a simple post + page section layout that we can use the exampleSite for. Then there is agency, artists ... where we need to pick up the example from the theme itself.

Your setup is good, but I would name it exampleSite (to be in line with the other exampleSite).

So the logic will be something like:
1. If the th

[2015-07-09 19:53] digitalcraftsman commented on #16
Maybe we should create a list with requirements named `CONTRIBUTING.md` that explains, what require to be `standard`. If those requirements are defined I'll begin to adapt them to my themes.

[2015-07-09 19:57] bep commented on #16
There is already a standard in the README.md. in hugoThemes. We will append to that one as needed.

But this can get complex ... and thinking about it, I'm not too keen on letting the theme authors control content on the hugoThemeSite. Let me sleep on that.

[2015-07-09 20:01] digitalcraftsman commented on #16
This could be indeed a problem. But do you know a workaround for themes that require custom data in order to work (like my themes)?

[2015-07-09 20:02] bep commented on #16
Will think about it.

[2015-07-09 20:18] bep commented on #16
One could argue that the theme authors already got some control of the content through the `README.md`

@spf13 what do you think about this? Short story: Some themes are so complex that they provide their own exampleSite. Is this OK or bad in the sense that it gives them control over the content on hugoThemeSite?

[2015-07-10 03:20] spf13 commented on #16
I think it's ok.. but maybe a v2 thing. Reality is that some themes will need their own content to convey their purpose.

[2015-07-10 03:25] spf13 commented on #16
I also think we should take the approach of trusting our theme creators and remove them if they don't play nice.

[2015-07-10 07:23] bep commented on #16
OK, then we have a good game plan.

@digitalcraftsman I will update the README.md on hugoThemes with this new information. Can you do the renaming of "examples" to "exampleSite" in your themes where applicable? Then in v1 we can at least make sure that your themes look good, then others with similar needs can use them as guides.

[2015-07-10 10:17] bep commented on #16
@digitalcraftsman I have added some initial config support in the script ++. More work to do here (there are conflicts that must be fixed). But now Casper looks good.

To fail fast in the script, look at

https://github.com/spf13/hugoThemeSiteScript/blob/master/generateThemeSite.sh#L10

[2015-07-10 15:35] bep commented on #4
Fixed, see https://github.com/spf13/hugoThemesSite

[2015-07-10 15:35] #4 closed

[2015-07-10 15:38] bep commented on #16
@digitalcraftsman see https://github.com/spf13/hugoThemesSite (the README) for info about how to add theme specific config. We should aim for the least amount of files possible here -- if it gets too complex, then a theme should create its own exampleSite.

[2015-07-10 16:58] bep commented on #16
@digitalcraftsman and note: the ERRORs about URL and sageHTML etc: I have already created PRs for all of these. It just take some time to get them merged.

[2015-07-10 18:56] digitalcraftsman commented on #16
@spf13 We could also add an option to report and flag themes by the visitors in the case of an abuse.

[2015-07-10 21:53] digitalcraftsman commented on #16
I renamed the folders in my themes to `exampleSite`.

[2015-07-11 16:11] #14 closed

[2015-07-11 21:29] bep opened #17 "The Fontawesome icons doesn't show"
Look in the upper right corner.

[2015-07-11 21:29] bep commented on #13
Let us close this for now.

[2015-07-11 21:29] #13 closed

[2015-07-12 06:46] #17 closed

[2015-07-12 12:21] digitalcraftsman commented on #16
@spf13 I would even encourage maintainers to add some (dummy) content to the exampleSite folder. Otherwise is a demo of a blog, where you can't see a rendered post, not really a demo.

[2015-07-13 18:09] bep commented on #16
Work in progress site preview:

http://185.52.0.94:1313/

Maybe some border/divider of some sort would be good on the front page?

[2015-07-13 18:18] spf13 commented on #16
This is looking really good. Thanks @bep !

[2015-07-13 18:20] dplesca commented on #16
@bep Something like this would be ok? http://i.imgur.com/LqE444b.png

[2015-07-13 18:23] bep commented on #16
@dplesca that would be perfect!

[2015-07-13 18:29] dplesca commented on #16
I've just pushed a change with that border.

[2015-07-13 18:46] bep commented on #16
@dplesca there is a border, but it doesn't look like the screenshot you posted:

http://185.52.0.94:1313/

[2015-07-13 19:16] dplesca commented on #16
@bep what are you using, it looks ok to me, I'm on Chrome on Windows.

[2015-07-13 19:31] bep commented on #16
@dplesca I'm currently on OSX (love, hate). It looks good in Safari -- kind of ugly in Firefox:

<img width="1423" alt="hugo-themesite" src="https://cloud.githubusercontent.com/assets/394382/8658801/710c1606-29a6-11e5-82c3-825ce0070f0d.png">

[2015-07-13 19:34] dplesca commented on #16
It looks atrocious in firefox, let me see what I can do.

edit: @bep just pushed another tiny change

[2015-07-13 19:59] bep commented on #16
@dplesca yea, now it looks great in both Safari and Firefox (OSX). Thanks!

http://185.52.0.94:1313/

[2015-07-13 21:15] digitalcraftsman commented on #16
@spf13 One of the themes that would need to be updated is your port of Hyde. There are already PRs made (some from me) to make the theme compatible with newer Hugo versions. It doesn't seem that you maintain this repo actively because some commits are a bit older. Therefore @bep or I as collaborators could merge those PRs and make other changes (if necessary).

The same applies to the Herring Cove

[2015-07-13 21:22] spf13 commented on #16
Those were the first two themes for Hugo largely to demonstrate how to make themes. As I don't use either, I'd be happy to have others help maintain them. Adding you both now..

[2015-07-14 14:39] #3 closed

[2015-07-14 14:42] bep commented on #16
I think it looks good enough for a release now:

http://185.52.0.94:1313/

There are open pull requests, but nothing blocking. If we can get some simple deployment in place, we can fix these in the upcoming releases.

/cc @digitalcraftsman @spf13

[2015-07-14 21:37] digitalcraftsman commented on #16
@bep That's true. Most PRs are only for trivial fixes. Since the todo list above seems to be done we should be ready to deploy. Is there already something planned, when the theme gallery will be running under themes.gohugo.io?

[2015-07-14 22:08] digitalcraftsman commented on #3
@alireza-ahmadi As I saw in [this](https://dl.dropboxusercontent.com/u/99809313/HugoMainFirstProto.webm) small screencast, you are worked / have worked on a small redesign of the main page. Are you still doing so? I'm just asking for the sake of curiosity, because your design looks awesome.

[2015-07-15 00:14] alireza-ahmadi commented on #3
@digitalcraftsman It's an honor for me that you like my design. I like to implement that design for the Hugo's main site but I am still too busy(until at least late July) and because I don't want to promise and break it again, I say that I am not working on it now. I will inform you if my time allowed me to implement that; also I would be glad if you or anyone else wants to redesign the main Hugo

[2015-07-15 07:53] digitalcraftsman commented on #3
Thanks for this update. But I'm not be the best option for the implementation with my rudimentary CSS skills. We'll see how it progresses.

[2015-07-15 08:14] bep commented on #16
@spf13 would have to help us get this over the finish line. I guess there will be regular updates to this site, to a "one click deployment" kind of thing would be needed. I don't think it can be connected to a Git commit, either, because there are three GitHub repos in play ... But I might be wrong.

[2015-07-17 22:32] digitalcraftsman opened #18 "Refine this page link in menu doesn't work"
The [refine this page link](https://github.com/spf13/hugoThemesSite/blob/master/layouts/partials/menu.html#L38) in the menu links to non-existing pages on Github.

[2015-07-17 22:39] digitalcraftsman opened #19 "Button on theme site aren't responsive on smaller screens"
The buttons (download, demo and homepage) aren't very responsive on smaller screens since they are overlapping other content. Here's a screenshot of the issue:

![](https://i.imgur.com/xgfZB5W.jpg)

[2015-07-19 21:19] bep commented on #19
This looks fine in OSX (firefox + safari). Might be an Ubuntu issue?

[2015-07-19 21:38] #18 closed

[2015-07-19 21:40] bep commented on #16
@spf13 any clue on when this could happen? It's no rush, but good to have some sense of time.

[2015-07-29 10:54] digitalcraftsman commented on #16
It would be interesting to know who this project will progress.

[2015-07-30 21:03] bep commented on #16
@digitalcraftsman ditto. @spf13 will get to it, eventually; the site is ready and I guess we will see a boost in Hugo activity once released.

[2015-09-03 18:20] bep commented on #16
Closing this. It is finished, but may be outdated the distant day in the future the site gets online.

[2015-09-03 18:20] #16 closed

[2015-09-03 18:21] #6 closed

[2016-03-30 13:39] #12 closed

[2016-03-30 13:39] #10 closed

[2016-03-30 13:45] digitalcraftsman opened #22 "Themes seem to be missing"
I know some themes are blacklisted. But the current builds of the theme site only include themes whose name's first character is between a and h.

/cc @bep

[2016-03-31 21:08] bitprophet commented on #22
Looks like this is the same issue as https://github.com/spf13/hugo/issues/1759:
- When I nag `hugoThemesSiteScript` and run `.generateThemeSite.sh`, I get:

[code]

  and serving the result is missing all themes from there on, as on the live site.
- Sure enough, https://github.com/spf13/hugoThemes/commit/183391ce82dbc3f8cc1f87b9ed97685fa9405837 was committed 3 days ago (which fits with my personal

[2016-04-01 11:22] digitalcraftsman commented on #22
Thank you for the pull request.

[2016-04-01 16:27] bep commented on #22
We have to fix the script.

[2016-06-04 18:54] felipebueno opened #23 "themes.gohugo.io seems to be down"
Hi, @bep 👍

themes.gohugo.io seems to be down

It doesn't throw any error but the page is blank.

<img width="1280" alt="screen shot 2016-06-04 at 15 52 47" src="https://cloud.githubusercontent.com/assets/241271/15801471/8ef2a398-2a6c-11e6-95bd-de3ba818cad1.png">

[2016-06-04 19:04] bep commented on #23
Yes, it is up again now.

[2016-06-04 19:04] #23 closed

[2016-06-04 19:05] felipebueno commented on #23
Thanks :smiley: 👍

[2016-06-08 18:31] #22 closed

[2016-07-15 14:46] anagio opened #25 "Mobile menu hides when scrolling on mobile"
On mobile, when the mobile menu is open and you touch the screen and begin to scroll when you release your finger the `sidebar-menu` gets display none. The JS could use some attention and refactoring.

[2016-07-15 14:56] bep commented on #25
I cannot reproduce this on my Android phone (5.1.1.), both Chrome and built-in browser works fine.

What mobile gadget/browser do you experience this issue on?

I'm not a "master of frontend", so would love for others to chime in with a fix ...

[2016-07-15 15:13] anagio commented on #25
Hi @bep i'm using a Samsung Galaxy s5 with Android version 6.0.1 and Chrome version 50.0.2661.89

I'd be happy to debug when I have additional time but wanted to submit an issue to see if anyone else is experiencing the same.

[2017-02-22 23:33] bep opened #27 "Add twitter card tags"
So it looks prettier when shared.

/cc @digitalcraftsman

[2017-02-23 21:00] digitalcraftsman commented on #27
I've added the internal twitter cards template and the theme thumbnails to the frontmatter so hat they show up in a tweet. Once the theme site is rebuilt I'll test it.

[2017-03-01 20:54] kaitlinnewson opened #28 "Suggestion: display available tags on the themes page"
On the themes.gohugo.io page, it would be great to be able to see all of the available theme tags so that you can filter by the tags right from the landing page. The feature seems pretty hidden unless you know it's there!

[2017-04-25 11:58] jhabdas opened #29 "Update Analytics Tracking"
The current analytics approach loads the old GA snippet near the bottom of the page. This approach was originally created before browsers could use the `async` attribute to download and run scripts in parallel without blocking the parser. Because Hugo internal templates provide the async tracking snippet we should use it as it helps with dogfooding.

PR to follow.

[2017-04-25 12:07] jhabdas opened #30 "Fix page load time"
Currently the Hugo Theme Site has a 60s page load time as measured by WebPageTest:

<img width="351" alt="screen shot 2017-04-25 at 8 01 31 pm" src="https://cloud.githubusercontent.com/assets/440298/25384212/1076f588-29f2-11e7-8294-47137fff0d6f.png">

While page load may not be the important metric it once was, it is still important. Here's why:

1. Theme site currently contains 165 images.
1. The

[2017-04-25 16:43] arikroc commented on #28
Couldn't agree more! https://github.com/spf13/hugoThemes/issues/248

"I wish there was a list at the top of the themes page with all the tags, and (counts) of num of themes with that tag, and then you could click to go to that page"

[2017-04-25 16:58] #30 closed

[2017-04-25 17:03] bep commented on #30
It's live -- according to my Chrome console, the load time went down from 10s to 2,5 seconds.

[2017-04-25 17:23] digitalcraftsman commented on #27
Currently, we use an inlined version of the twitter cards template instead of Hugo's internal template (see 7342957). Was this a temporary or persistent addition?

[2017-04-25 17:30] bep commented on #27
I don't remember -- but I think I confused the symptom for something else ... In any way it was temporary. We added the missing field to the Hugo version.

[2017-04-25 17:35] digitalcraftsman commented on #27
In other words: your inlined template contained an additional field that wasn't present in Hugo's internal template back then?

[2017-04-25 17:36] bep commented on #27
Yes.

[2017-04-25 17:40] digitalcraftsman commented on #27
Hence we can move back to the internal template and remove the inlined version?

[2017-04-25 17:42] bep commented on #27
Yes.

[2017-04-25 18:02] #27 closed

[2017-04-25 19:45] dhruvkar opened #33 "themes.gohugo.io "not found". Showing a 404."
Not sure if this is the right place to report this, but can't access themes.gohugo.io anymore. Shows a 404.

[2017-04-25 19:50] bep commented on #33
It is up now, but I'm working on making the build scripts more robust, so it has gone up and down a little lately. But thanks for the heads up.

[2017-04-25 19:50] #33 closed

[2017-04-25 19:51] dhruvkar commented on #33
👍

[2017-04-26 00:07] #28 closed

[2017-04-26 00:24] arikroc commented on #28
Thanks, @bep! Looks great.

[2017-04-26 03:18] jhabdas opened #34 "Image placeholders"
In #32 we began effectively lazyloading image data to speed up the themes site. To do so we removed the `src` attribute from the image tags, which leads to the following perceived render for user agents supporting images with an unprimed cache:

<img width="942" alt="screen shot 2017-04-26 at 11 04 51 am" src="https://cloud.githubusercontent.com/assets/440298/25416497/aafaf02c-2a70-11e7-8f35-36cf6

[2017-04-26 03:26] ghost commented on #19
Looks like this was fixed in #26 and can be closed @digitalcraftsman.

[2017-04-26 07:20] #19 closed

[2017-04-26 07:25] bep opened #35 "Remove the Cloudflare cache etc."
I was hoping we would have gotten rid of the deployment issue with the old and complex and not possible to administrate hosting solution by going to Netlify, but there still are issues, it seem.

Somehow Cloudflare still is in the picture:

* Hosting SSL? I see some HTTP error pages coming from Cloudflare ...
* Caching static resources, CSS. I added some tagcloud CSS here that isn't there yet (htt

[2017-04-26 07:53] spf13 commented on #35
I can disable Cloudflare so it doesn't cache at all.
I'll do that now.

I don't think this is related to the https issues though.

On Wed, Apr 26, 2017 at 3:25 AM Bjørn Erik Pedersen <
notifications@github.com> wrote:

[2017-04-26 08:28] bep commented on #35
Me, neither. The HTTP 404 error page comes from Cloufdlare, but I suspect that is connected to the CDN cache ...

[2017-04-26 12:54] kaitlinnewson opened #36 "Theme images broken"
Looks like the links to the theme images are broken on the landing page
![screen shot 2017-04-26 at 8 53 01 am](https://cloud.githubusercontent.com/assets/6903515/25435411/e97c7392-2a5d-11e7-9287-e9f3255d915e.png)

[2017-04-26 13:03] bep commented on #36
Thanks, we know -- @spf13 tried to remove some reduntant Cloudflare caches/SSL, and not without problems ...

[2017-04-26 13:03] #36 closed

[2017-04-26 13:12] bep commented on #35
This seems to be all good now, thanks!

[2017-04-26 13:12] #35 closed

[2017-04-26 17:32] digitalcraftsman commented on #34
I like your idea to add placeholders while the image is lazy loaded. However, you should contact @spf13 directly in order to get the SVG version of the logo.

But using the Hugo logo as placeholder for each image that hasn't been fetched so far it can be a bit flashy. Hence I would rather use a gray-scaled version of the Hugo logo.

[2017-04-26 17:36] digitalcraftsman commented on #34
Is it possible to fetch images right before they appear in the viewport of the browser? I.e. could the lazyloader  fetch images that would be visible if the users scrolls X more pixels?

[2017-04-26 17:44] digitalcraftsman commented on #25
I'm also not able to reproduce the issue with Android 5.1.1 and Chrome.

[2017-04-26 17:50] #29 closed

[2017-04-26 20:23] arikroc opened #37 "Also display available tags on the individual tags pages"
Continuation of https://github.com/spf13/hugoThemesSite/issues/28

e.g. display tag cloud on http://themes.gohugo.io/tags/minimal page so that user can navigate between tags without returning to homepage

[2017-04-27 04:16] jhabdas commented on #34
@digitalcraftsman already done. IIRC lazysizes intelligently detects thrust in the scroll and begins preloading assets it expects to come into the viewport under default init settings (as currently configured). If we produce a Medium-style low-quality image placeholder for themes via the script we can really beef up UX. If I get the vectors I'll grayscale them and base 64-encode the SVG for the in

[2017-04-27 04:19] jhabdas commented on #34
Sidebar: The lazyqueue is also possible to lazily load all images for high bandwidth connections without blocking the run loop in the browser. That was not clear in my initial statement.

[2017-04-27 20:13] digitalcraftsman commented on #37
I.e.we should include the cloud tag on all taxonomy term pages as well. Perhaps we can highlight the current tag, e.g. "minimal", in the cloud with a different color.

[2017-04-27 20:16] bep commented on #37
I agree. But noted, I think the front page _looked_ better without the tag cloud, but the usefulness is way more important than prettiness here. But _maybe_ we should test pulling the tags up in the black area in the top?

[2017-04-27 20:25] digitalcraftsman commented on #37
When Bud is redesigning the theme site as well it's likely that this issue will be fixed automatically.

But for now, I wouldn't pulling the tags in the black area. The container is fixed when scrolling and would only take unnecessary of the viewport. Alternatively, we can separate the tag cloud visually from the thumbnails, similar to the footer.

[2017-04-27 20:33] bep commented on #37
Na, just let it be as is. It is not too distractive.

[2017-04-28 05:35] ghost opened #38 "Add some derived tags from theme.toml"
Many Hugo themes are being ported from existing open source themes created by authors on other static site generators. One rising star I've noticed is [hugo-tranquilpeak-theme](https://github.com/kakawait/hugo-tranquilpeak-theme), which is a port from Hexo.

Based on the values provided in in `theme.toml` we have the ability to generate taxonomy for themes based on whether or not they're ported or

[2017-04-28 06:38] jhabdas commented on #34
Going to close this for now to help keep repo clean. If we want to implement later just let me know.

[2017-04-28 06:38] ghost commented on #38
I may bring this up in the forums and am closing to help keep the repo clean.

[2017-04-28 06:46] bep commented on #38
Reopening as I think this is a great idea. Looking at the TAG cloud, it could use some common tags, so to speak.

[code]

Of the above we could generate:

* License
* Ported (i.e. if "[original]" is set)
* Min Hugo version (round it to "main release")

[2017-04-28 06:51] ghost commented on #38
Thanks @bep. Perhaps this will help open the path to the later creation of a features taxonomy as well, helping theme authors start standardizing on the conventions used for naming features provided in their programs instead of stuffing them into the tags section.

[2017-05-21 09:19] jhabdas commented on #38
Another possible derived tag: use of template inheritance, e.g. includes baseof.*

[2017-05-22 03:42] jhabdas commented on #38
Inferred/derrived tag could be theme version based on SemVer. Thought of it after seeing https://github.com/spf13/hugoThemes/issues/259#issuecomment-302991829

The way Composer handles this could be mimicked so one is not required to keep a version in their theme.toml

[2017-05-28 09:45] bep opened #40 "Twitter card tags"
Seemed to have lost some SEO with the latest update. We kind of need the Twitter cards to look good when posting new themes in Twitter. The internal Hugo template should do?

/cc @budparr @digitalcraftsman

[2017-05-28 12:06] budparr commented on #40
It looks like the Twitter card data is there, except for the fields where `.Title` is required, because the themes use `name` instead of `title`.  ([template](https://github.com/spf13/hugo/blob/b6ea492b7a6325d04d44eeb00a990a3a0e29e0c0/tpl/tplimpl/template_embedded.go#L239))

We can also add our [Twitter handle](https://github.com/spf13/hugo/blob/b6ea492b7a6325d04d44eeb00a990a3a0e29e0c0/tpl/tplimpl

[2017-05-28 13:43] bep commented on #40
http://themes.gohugo.io/minimo/ does not validate in

https://cards-dev.twitter.com/validator

I'm pretty sure it did at some point. And it would be good to get it back in shape.

[2017-05-28 13:52] digitalcraftsman commented on #40
Have a look at ae1376cfe6c70ca3581aff0fdb03b88424acafcc. You added a meta tag for the title that isn't / wasn't present in the internal template.

[2017-05-28 13:53] bep commented on #40
OK and how does that help us getting it fixed?

[2017-05-28 14:09] digitalcraftsman commented on #40
This way the title of the internal template would be overwritten depending on how Twitter is handling multiple occurrences of this specific meta tag.

Alternatively, we can set the title explicitly in the front matter with the `title` variable. The `title` attribute can be injected by the [build script](https://github.com/spf13/hugoThemes/blob/master/_script/generateThemeSite.sh#L149) into the fro

[2017-05-28 14:32] budparr commented on #40
I just looked at an older version locally, and it seems that some of the themes have title in front matter, others do not. After Dark, for instance, has a title, Castanet does not, but on the current version, After Dark doesn't either.

[2017-06-07 06:17] #34 closed

[2017-06-09 06:51] jhabdas commented on #34
https://github.com/spf13/hugoThemes/issues/264 - optimization idea

[2017-06-13 22:27] bep commented on #40
I just tweeted about a theme, but this issue is still open:

https://twitter.com/GoHugoIO/status/874752601312677889

Could someone raise a hand and say "I will fix this" and not just throw out problems and expect someone else to pick up the thread. Add a conditional that checks for the name param? Default to title? And move it around and test it until Twitter is happy? Or not use the Hugo built-in

[2017-06-13 22:34] budparr commented on #40
I'm happy to take this on.

[2017-06-13 22:45] bep commented on #40
Please do:

My little hack did not work: https://github.com/gohugoio/hugoThemesSite/commit/6b0890095a18154ccd1241d64e48a93c60a1590e

But the head-additions.html seems like it is prepended to head and not appended (which would be more useful).

[2017-06-13 23:15] bep commented on #40
@budparr thinking about it, the simplest/cleanest is probably to duplicate the name into title in the build script, which I can do ... some time.

[2017-06-14 15:35] #40 closed

[2017-06-14 17:42] bep commented on #40
Addendum:

I have added the `title` property to the themes' front matter. However, there was still an issue with Twitter showing the image in the "card"; I guess Twitter doesn't like schemaless URLs, so I changed it to https, which isn't perfect, but it works for Twitter (I know we should force https, but that is another discussion).

[2017-06-14 20:26] budparr commented on #40
Thank you, @bep. Glad it's working.

[2017-06-16 18:17] digitalcraftsman opened #46 "Add spacing between prev/next link on theme info page"
Namely between the Sublime Hugo Theme and Slate

![ht](https://user-images.githubusercontent.com/7010165/27239349-d7db04d2-52d0-11e7-8094-fb3cdf025e35.png)

[2017-06-16 18:23] budparr commented on #46
Can someone assign me to this, please?

[2017-06-16 18:29] digitalcraftsman commented on #46
Sure

[2017-06-16 18:32] digitalcraftsman commented on #46
I don't have permission to change assignees, labels etc and it doesn't look like that I'm a collaborator in this repo.

/cc @bep can you add Bud and me to the list of collaborators in this repo?

[2017-06-16 18:45] bep commented on #46
My mistake, I had set the permissions to "Read" for all.

[2017-06-16 18:49] digitalcraftsman commented on #46
Thanks

[2017-06-22 16:31] bep opened #47 "Add GitHub stars"
And a way to sort with it.

http://drjekyllthemes.github.io/trending

I guess this means rewriting the script to Go or something, maybe; my Bash skills has its limmits.

[2017-06-22 18:44] digitalcraftsman commented on #47
Great idea to be able to search/filter themes by popularity. This would play nicely with https://github.com/gohugoio/hugoThemes/issues/259.

[2017-06-22 18:45] budparr commented on #47
Wouldn't this just favor older themes? Is that the usual action, to go to theme and star it before you download it?

[2017-06-22 18:46] bep commented on #47
Yea, maybe. I haven't thought about it too hard, I just made a mental note about it here after seeing the Jekyll dir.

[2017-06-22 19:00] rdwatters commented on #47
Now with custom outputs fully realized, I'd be happy to help put this into something more JS heavy. Vue.js could work really well with something like this, and it wouldn't be that hard to implement...

[2017-07-25 18:58] bogem opened #48 "Incorrect layout of theme page on mobile version"
As you can see, there is no space between "Download" and "Homepage":
![img_9982](https://user-images.githubusercontent.com/13235519/28588811-0d6cfbfe-717c-11e7-893a-84f41ad7fd1e.PNG)

[2017-07-25 19:04] budparr commented on #48
Thanks for reporting, @bogem

[2017-08-19 12:33] oshliaer commented on #47
There is the result of hugo themes crawler on Google Apps Script https://docs.google.com/spreadsheets/d/1BewJrQPQ3szpCxrfVKVpyxNXqmAupPt5adQGT7IS-Z4/edit?usp=sharing It needs 502 calls per full circle. I'm not sure that is a great idea to call stars for each client in a browser.

And other problems here:
* Some topics are hosted on other git-sites (bitbucket.org, gitlab.com)
* bitbucket.org doesn'

[2017-11-17 18:52] gcushen opened #49 "Add `version` metadata to `theme.toml`"
How does a user know what version of a theme they are using (especially if they just downloaded Zip, no Git)? In order to update a theme, users require a method to discover which version they have installed and compare it with the theme's release notes or changelog.

I suggest that we adhere to best practices and add theme `version` metadata as a parameter in `theme.toml`.

Then rename `min_versio

[2018-02-17 19:41] radd2004 commented on #49
I second this! As someone who develop themes for a number of frameworks and system, I usually rely on the version metadata for asset cache busting purposes.

Just coming to hugo and can't figure how to best version CSS and javascript assets without a version-esque metadata.

[2018-02-18 17:22] gcushen commented on #49
@bep @digitalcraftsman please can you kindly provide feedback on supporting **theme** `version` metadata in `theme.toml` for the purpose of properly **enabling users to update themes** (especially users who install themes with ZIP rather than Git) and **enabling theme developers to implement version-specific logic** as @radd2004 suggested? See my above comment for full details.

[2018-02-18 17:28] bep commented on #49
I don't think we should do this. I don't see big value (I see some value) and it will add one more item to maintain -- which will probably be correct starting out, but then quickly forgotten. Wrong data is worse than no data. Versions should live in the version control system (Git).

[2018-02-18 17:58] gcushen commented on #49
@bep so you are implying that all Hugo users must be experienced with Git if they wish to update a theme?

Academic (the most popular Hugo theme) has a significant number of users who are unfamiliar with Git and who report issues updating the theme as they are unsure which theme version they are currently on and thus which update instructions to follow. This is a **specific and very popular case f

[2018-03-14 12:45] kaushalmodi opened #50 "What's wrong with the theme site tags page?"
https://themes.gohugo.io/tags/

Issues:

1. All themes are listed twice (or more!).
2. The font size seems too big.

*Non-issue but an improvement suggestion: Show the theme description too, along with the title.*

![image](https://user-images.githubusercontent.com/3578197/37402746-175c203e-2763-11e8-95df-ec7a5aef4e3a.png)

[2018-03-14 13:04] #50 closed

[2018-03-14 13:05] bep commented on #50
Describing the problem is better to put in the issue subject instead of a vague question.

[2018-03-14 13:08] kaushalmodi commented on #50
~~OK, will describe it better in the subject next time.~~ (**Done**)

But I wished disabling tags wasn't the "solution". Using the `tags` page would be useful to look at tags in alphabetical order.

At the moment, the tags shown in the sidebar on https://themes.gohugo.io/ are not in alphabetical order, so having https://themes.gohugo.io/tags/ where they could be listed alphabetically would be nice

[2018-03-14 13:16] bep commented on #50
@kaushalmodi there was obviously not a template suited for displaying those tags, so disabling that view was the proper fix for _this particular issue_.

[2018-03-14 13:20] kaushalmodi commented on #50
OK, now https://themes.gohugo.io/tags/ shows previews of just 3 themes (*Strange Case*, *Hugo Pacman Theme*, *Liquorice*).. twice each.

---

**Update:** Probably just those 3 themes are completely untagged.. but need to figure out the root issue of that duplication.

**Update 2**: https://github.com/eliasson/liquorice/issues/16, https://github.com/coderzh/hugo-pacman-theme/issues/18, https://gith

[2018-03-27 12:02] caarlos0 opened #51 "wrong theme count"
At https://themes.gohugo.io if I look at the sidebar, it says it has 7 themes with the `docs` tag, but if I click in the link ( https://themes.gohugo.io/tags/docs/ ) it shows only 4.

This probably happens with more tags...

---

![image](https://user-images.githubusercontent.com/245435/37881893-3f7a0c2e-3074-11e8-8aa1-93b001f17488.png)

![image](https://user-images.githubusercontent.com/245435/37

[2018-03-27 16:22] FelicianoTech commented on #51
I built the themes website locally and the count in the sidebar shows the correct amount.

So either:

1. The site is somehow being built differently when built for production.
2. The build process/production server has left over files? Maybe stuck submodules that need to be deleted?

[2018-03-27 16:38] bep commented on #51
I can try to build without cache to see if it helps ...

[2018-03-27 16:52] bep commented on #51
That seems to have fixed it. I suspect this is more or less form when I refactored into bundles ... with some old stale content left. I will keep this issue open to remind me to improve the build script.

[2018-03-27 17:46] caarlos0 commented on #51
Awesome!

[2018-04-08 19:21] MunifTanjim opened #52 "Theme demo broken, probably because of incorrect BaseURL (minimo)"
The [Minimo demo](https://themes.gohugo.io/theme/minimo/) is broken.

In the [gohugoio/hugoThemes](https://github.com/gohugoio/hugoThemes) repository, Minimo is at `minimo@30e19ed`, which is the latest commit.

But in the theme's demo site, it seems like the BaseURL is set to `https://themes.gohugo.io` instead of `https://themes.gohugo.io/theme/minimo`. So, the theme can't load Javascript assets.

[2018-04-08 19:37] bep commented on #52
BaseURL is fine, see https://github.com/MunifTanjim/minimo/issues/121

[2018-04-08 19:37] #52 closed

[2018-05-01 19:56] anthonyfok commented on #46
Hi @budparr!  Any updates?  :-)

[2018-07-16 19:55] gcushen commented on #49
@bep bump

Theme version is inherently one of the most important parameters of a theme, thus should be recorded in the theme metadata file with a Hugo function to access it within the theme. Furthermore, ideally, Hugo functionality would be implemented to check for and apply theme updates. Pretty much every piece of popular software has these kind of core update features...

It might not be "cool"

[2018-07-16 20:24] petzi53 commented on #49
I support the idea to have a visible theme version in the files itself (e.g. in the config.toml). This is especially important

- if someone (like me) is (still) not familiar with Git
- if someone (as all the users of R/RStudio and blogdown) are not creating the Hugo website via the "normal" Hugo procedure but with blogdown and update new theme versions with ZIP
- if someone is not always up-to-da

[2018-07-16 20:41] petzi53 commented on #49
I would like to support the idea of a visible version number in the theme.toml (or on another adequate place – I am not an expert on this).

My plea for this enhancement is the following:

- Not every user is familiar with Git
- Many users apply other methods (for instance R/RStudio/blogdown and update the theme with a ZIP file
- Sometimes there are very busy theme developer (like @gcushen) which

[2018-07-16 21:02] bep commented on #49
We recently got "theme inheritance and theme components". This opens up a whole set of new stuff that can be done with themes. And I have sketched some ideas about a simple package manager so you could just add the themes and components you want with the version you want and Hugo will take care of the dependencies.

But with that, we need to think hard about versions. It has to be designed, though

[2018-07-16 21:05] petzi53 commented on #49
Thanks for considering  this enhancement. And clear enough: You are the expert and have to decide when and how this change could be made.

[2018-07-21 15:17] ghost commented on #30
Glad I could help.

[2018-08-13 03:42] ghost commented on #49
If a user needs to know which version of a theme they're using it should clearly be listed in the documentation, changelog and, ideally, a repo badge. Adding it to the config creates a secondary file to version-align alongside the N already-built package managers in existence today.

[2018-08-13 03:50] ghost opened #54 "Output features with matching readme anchor links"
This seems like a no-brainer to me now, but to avoid stuffing of features in the keywords section (and to actually make use of the currently unused `featues` array in `theme.toml` theme site should be updated features are enumerated as deep links to anchors existing in documentation.

Benefits:

- Easy implementation.
- Makes feature stuffing a non-concern as nobody (hopefully) would try and creat

[2018-10-14 08:13] mistermantas opened #55 "Theme names on homepage are capitalized wrong"
The names in `theme.toml` are ignored and, I guess, the names of the theme directories are used instead for some reason? Why?

[2018-10-14 09:17] bep commented on #55
The site is built by a fairly simple bash script. And my bash skills at that time didn't allow for too much TOML parsing ... But we should be able to fix that.

[2018-10-14 12:18] mistermantas commented on #55
I see. I’d love to see it be fixed — it’s a big pet peeve of mine. 🙂

[2018-12-07 07:46] coliff commented on #55
Regarding the Theme tags on the sidebar; if we wanted every word to be capitalized. e.g. `Google Analytics` instead of `Google analytics` we could fix that with a bit of CSS

[code]

[2018-12-07 09:48] mistermantas commented on #55
I don't think you get it, I ***don't*** want this behavior. It should be, as per the `theme.toml`, `cState' and not 'Cstate'. Looks ugly to my eye

[2019-01-05 08:23] onedrawingperday opened #57 "Invalid header rule on the Themes website"
The following is from the report of the [latest deploy](https://app.netlify.com/sites/hugothemes/deploys/5c2ff22f026856000820bc08) of the Hugo Themes website on Netlify:

---

1 out of 2 header rules could not be processed. Check your site’s /_headers file for verification. You can learn more in the docs, or test your rules in the Netlify playground.

In /_headers:

    /* */

---

It seems that t

[2019-01-08 23:59] budparr commented on #57
The headers validate. https://play.netlify.com/headers but I wonder if the error is actually related to the mixed content.

[2019-01-09 07:14] onedrawingperday commented on #57
Hello @budparr

Yes I also noticed that the headers validate in the playground sometime after I opened this issue.

I guess we'll find out if mixed content is the culprit once https://github.com/gohugoio/hugoThemes/issues/532 is resolved.

[2019-01-30 08:37] onedrawingperday commented on #57
@budparr

Since https://github.com/gohugoio/hugoThemes/pull/547 was merged theme demos use the `contentDir` of the Hugo Basic Example repo.

As of yesterday according to the latest deploy log all content on the website is secure, yet somehow the invalid header error persists: https://app.netlify.com/sites/hugothemes/deploys/5c50d84fab373a0008cbfd04

[2019-01-31 13:42] budparr commented on #57
@onedrawingperday Thank you. Actually, it's a simple typo. I seemed to have glossed over that before.

`*/` should be `/*`

[2019-01-31 15:13] #57 closed

[2019-02-02 22:45] hhrutter opened #58 "Tags selection broken on mobile"
I wanted to browse *Responsive* themes on Android or iPhone.
Both just show all tags between Modern(12) and Widget(6).

It is impossible to scroll up or down and therefore one cannot select *Responsive*
or respectively any other tags outside of the range mentioned above.

[2019-04-23 20:49] QuLogic opened #59 "History navigation keyboard shortcut triggers theme navigation"
Say you're on a theme page with some external links (e.g., [hugo-theme-terminal](https://themes.gohugo.io/hugo-theme-terminal/)) and click one of those links. You are now on an external site. To go back, you use the keyboard shortcut <kbd>Alt+Left</kbd>. This takes you back to the theme page, but it _also_ triggers the theme navigation that's bound to <kbd>Left</kbd>. So you then end up on the pre

[2019-04-30 22:20] darshanbaral opened #60 "Change navbar link for Hugo Themes Showcase"
Maybe it would be better to change the link [here](https://github.com/gohugoio/hugoThemesSite/blob/5f67673b33526823a3a03c671fb62a9a5b59d59e/config.toml#L109) from https://github.com/gohugoio/hugo to https://github.com/gohugoio/hugoThemes

[2019-05-01 10:14] digitalcraftsman commented on #60
Hello Darshan,

as far is I can tell the menu was designed as a global menu, meaning that the links are the same on every page. This implies that the menu is independent of its context. In the context of the Hugo theme showcase it makes sense to link to the corresponding GitHub repo. On the other hand it breaks the global consistency of the menu and lead users to false assumptions about the destin

[2019-05-07 19:38] darshanbaral commented on #60
Should the circled element link to https://gohugo.io/ instead of https://themes.gohugo.io/ in the [Theme Site](https://themes.gohugo.io/). I'm guessing the `baseurl` has to be changed [here](https://github.com/gohugoio/hugoThemesSite/blob/5f67673b33526823a3a03c671fb62a9a5b59d59e/config.toml#L1).

![image](https://user-images.githubusercontent.com/10451486/57327847-b9865400-70c4-11e9-81c5-a90726fbb

[2019-06-03 15:44] darshanbaral commented on #60
Duplicate of https://github.com/gohugoio/hugoDocs/issues/758.

[2019-06-03 15:44] #60 closed

[2019-08-06 13:20] VincentTam opened #62 "Double slashes on demo site for each theme"
Steps to reproduce:

1. Open any theme.
2. Click on "demo" button.
3. Observe the error in the URL of the demo page.

Screenshot:

![Screenshot from 2019-08-06 15-19-48](https://user-images.githubusercontent.com/5748535/62543194-a454c900-b85d-11e9-8bbd-85c882bce43b.png)

[2019-08-23 15:34] digitalcraftsman commented on #51
I can't reproduce this issue either nor can it be seen on www.themes.gohugo.io.

[2019-08-23 15:34] #51 closed

[2019-08-23 15:53] pacollins opened #63 "Preview <img> is larger than image on higher resolutions"
Originally posted at gohugoio/hugoThemes#695.

<img width="339" alt="Screen Shot 2019-08-23 at 9 38 07 AM" src="https://user-images.githubusercontent.com/11359433/63596689-c94d7980-c589-11e9-88c0-51ecfd05c219.png">

That is what is happening. It gets larger as the screen gets wider.

[2019-09-13 07:22] coliff opened #64 "Losslessly optimize all images on site"
Huge file-size savings can be had if all the images in this repo are losslessly optimized. I suggest to install either:

- **ImgBot** - a free (for open-source projects) GitHub app https://github.com/marketplace/imgbot

- **Calibre Image-Actions** - a new free GitHub Action which works in a similar way https://github.com/marketplace/actions/image-actions

[2019-09-13 07:49] bep commented on #64
I assume you mean all the different thumbnails. These are spread out into all of the 300+ themes repos, so something like a GH action would not work. I have some plans to rewrite the script (to use Hugo Modules), but time ...

[2019-09-13 07:53] coliff commented on #64
ah ok - maybe consider using either of those GitHub Apps/Actions on the Docs sites? I have a fork of that and ImgBot ran against it and reduced image-sizes by average 13% across 169 images. If you'd prefer me to make a PR of that I can but ImgBot is a better long-term solution as it can work against future PRs

[2019-09-13 08:04] bep commented on #64
GitHub actions are on my "todo list". Are you sure image-actions don't work on future PRs?

[2019-09-13 08:08] coliff commented on #64
Great! sorry if my previous message wasn't too clear. I meant that me making a PR right now won't take care of future PRs. Yes, the image-actions does work against all future PRs. I've been testing this today as it happens.

[2019-09-13 08:39] bep commented on #64
See https://github.com/gohugoio/hugoDocs/pull/915

[2019-11-22 07:10] #55 closed

[2019-11-22 07:14] onedrawingperday opened #66 "Add stale bot in this repo"
The issue tracker of this repo is cluttered with inactive issues opened years ago.

~~So I will add~~ [stale](https://github.com/marketplace/stale) to have these issues removed after a period of time.

Turns out that I cannot add stale since I am not an admin of this repo.

So @bep if you can please enable [stale](https://github.com/marketplace/stale) in this repo and then I will sort its settings

[2019-11-22 07:58] onedrawingperday commented on #37
This old issue seems resolved. i.e. the tags are displayed in individual tag pages like: http://themes.gohugo.io/tags/minimal

[2019-11-22 07:58] #37 closed

[2019-11-22 08:03] onedrawingperday commented on #62
This issue  no longer seems present. I cannot reproduce.

[2019-11-22 08:03] #62 closed

[2019-11-22 08:06] bep commented on #66
Done.

[2019-11-22 08:06] #66 closed

[2019-11-22 08:11] onedrawingperday commented on #59
Cannot reproduce in Firefox 70.0.1

[2019-11-22 08:11] #59 closed

[2019-11-22 08:54] onedrawingperday commented on #58
This is due to the CSS of the theme used on the Theme Site.

The theme has its own repo and I am closing this issue in favor of https://github.com/gohugoio/gohugoioTheme/issues/141

Feel free to continue the discussion there.

[2019-11-22 08:54] #58 closed

[2019-11-22 08:56] onedrawingperday commented on #25
This belongs to the repo of the Hugo Theme https://github.com/gohugoio/gohugoioTheme/

Also there is an issue about the mobile menu which has other problems as well
Feel free to continue the discussion in https://github.com/gohugoio/gohugoioTheme/issues/141

[2019-11-22 08:56] #25 closed

[2019-11-22 09:38] onedrawingperday commented on #46
This issue seems resolved. There is more space between the prev/next links nowadays. See:

![image](https://user-images.githubusercontent.com/7918298/69415016-8338bb00-0d1c-11ea-8ec1-f67b8fcbbfd4.png)

[2019-11-22 09:38] #46 closed

[2019-11-22 10:01] #48 closed

[2019-11-22 10:04] onedrawingperday commented on #48
I confirm the issue and I have addressed it with  34aee97

The theme buttons will now have proper spacing around them on the Hugo Themes Site.

However this is a hotfix.

The proper way would be to fix this directly in the [Hugo Theme](https://github.com/gohugoio/gohugoioTheme).

If this is done then please let me know and I will revert the above commit.

[2019-11-22 13:26] onedrawingperday commented on #47
This is not doable easily.

Currently we have themes hosted on GitHub and GitLab

GitHub's public API is accessible in the following form:
`https://api.github.com/repos/<user>/<repo>`

GitLab's public API is slightly different (but it makes things more difficult):
`https://gitlab.com/api/v4/projects/<project_ID>/`

Theoretically we could use [`getJSON`](https://gohugo.io/templates/data-templates/#

[2019-11-22 13:26] #47 closed

[2019-11-22 14:47] onedrawingperday commented on #63
I confirm this bug and I will look into it in the coming days.

[2019-11-22 14:56] #54 closed

[2019-11-22 17:19] onedrawingperday commented on #63
Commit 0c477f6 has fixed this issue on my end @pacollins

https://themes.gohugo.io/

Let me know if the issue remains on your end.

[2019-11-22 17:19] #63 closed

[2019-11-23 09:22] onedrawingperday commented on #64
I had a look at this issue and as pointed out above theme screenshots are provided from the repos of the different themes.

GitHub Actions do not apply in this case.

One approach would be to modify the [Build Script](https://github.com/gohugoio/hugoThemes/blob/master/_script/generateThemeSite.sh) to call ImageMagick* so that the original images are compressed right before the `hugo` command.

But

[2019-11-23 09:22] #64 closed

[2019-11-24 08:33] onedrawingperday opened #67 "Question about Goldmark settings"
@bep

I have been testing Hugo Themes with Goldmark and I have noticed that if a theme has a link in its README like so:

`[Live Demo here!](https://<some-url>/)`

Then the link is output as above i.e. (it does not become `Live Demo here!`).

In the [config](https://github.com/gohugoio/hugoThemesSite/blob/master/config.toml) of the ThemesSite should we enter the `unsafe` parameter for Goldmark or

[2019-11-24 10:13] bep commented on #67
No.

[2019-11-24 10:28] bep commented on #67
No.

If there are issues we fix them in some other way. If that means that we for some period run with Blackfriday, fine.

As to the above, I get:

[code]

Which is making a workable link, it is not "output as above". Which  is not a blocker for the theme site, but I will raise an issue on Goldmark. I don't see how the above conforms with the CommonMark spec.

[2019-11-24 10:40] bep commented on #67
See https://github.com/yuin/goldmark/issues/34

[2019-11-24 11:30] bep commented on #67
This is now fixed.

[2019-11-24 11:30] #67 closed

[2019-11-25 14:38] onedrawingperday opened #68 "Convert theme thumbs to use 'w' units instead of 'x'"
Currently this is used in the Hugo Showcase but not in Hugo Themes.

ref: https://github.com/gohugoio/gohugoioTheme/pull/105/commits/d0a76ebb67798309aae2adba3c06bc1d6e2fce8b

[2019-11-25 14:44] onedrawingperday opened #69 "Fix mobile menu on the ThemesSite"
Override the default gohugo theme for the ThemeSite to fix the broken mobile menu.

See: https://github.com/gohugoio/gohugoioTheme/issues/141 for a description of the problem.

Also check out whether: https://github.com/gohugoio/gohugoioTheme/pull/104 fixes the problem.

[2019-11-25 14:48] onedrawingperday opened #70 "Fix search input on the ThemeSite for iOS Safari"
I opened this issue before: https://github.com/gohugoio/gohugoioTheme/issues/119

It was addressed but then again I am still getting white text in a white search input box at the ThemeSite.

[2019-11-26 08:51] anthonyfok commented on #46
Yes, this was fixed by gohugoio/gohugoioTheme#87 (commit gohugoio/gohugoioTheme@66f4563)
as well as commit d8f7a14 here at gohugoio/hugoThemesSite.  Thanks for noticing and closing the issue here too.

[2019-12-10 02:35] zzossig opened #72 "{{ .Permalink }} makes double slash url"
It happens not only in my project but also in other demo sites.
And this issue makes some "cors" issue on my project exampleSite.
![doubleslash](https://user-images.githubusercontent.com/52706977/70490209-2a9d5680-1b41-11ea-8a2a-784ece6c6991.png)

[2019-12-10 07:23] onedrawingperday commented on #72
This support question belongs to the [Hugo Discussion Forum](https://discourse.gohugo.io/).

The GitHub issues of this repo are only for theme submissions or problems relating to the Themes Site.

Thank you.

[2019-12-10 07:34] onedrawingperday commented on #72
You are not using `.Permalink` but `.RelPermalink`  to generate a sub list.

As you know the theme demo is hosted in a subdirectory. There is a double slash due to the use of `.RelPermalink` over [here](https://github.com/zzossig/hugo-theme-zzo/blob/d182e8f15ad0d44562ceb65d00ae030d92bd419a/layouts/partials/sidebar/sidebar-list.html#L12)

[2019-12-10 07:42] zzossig commented on #72
But, I use .Permalink as well. [Here](https://github.com/zzossig/hugo-theme-zzo/blob/6e1ff92a2d4e8674d40cc914d2128b891425ed8d/layouts/partials/summary/classic.html#L13)
I have other links that using .Permalink that makes double slashes.

[2019-12-10 11:05] onedrawingperday commented on #72
Right. The demo configuration is still inherited from the provided config.

There is a back slash at the end of the baseURL in the [`exampleSite/config/_default/config.toml`](https://github.com/zzossig/hugo-theme-zzo/blob/6e1ff92a2d4e8674d40cc914d2128b891425ed8d/exampleSite/config/_default/config.toml#L1)

Try removing this back slash and let me know so that I can see if that fixes the issue.

[2019-12-10 12:12] zzossig commented on #72
I can't reproduce the double slashes issue on my end.
Test env: macOS High Sierra 10.13.6/ Hugo 0.60.1
I have tested 4 times:
[code]
[code]
[code]
[code]
It seems that baseURL is not impacted the url.
<img width="1280" alt="Screen Shot 2019-12-10 at 9 09 35 PM" src="https://user-images.githubusercontent.com/52706977/70528475-a0c9a980-1b91-11ea-89ff-2a13b0ec89a2.png">

[2019-12-10 12:20] onedrawingperday commented on #72
Please do as I requested above and let me know, my time is limited.

[2019-12-10 12:23] zzossig commented on #72
I don't understand. I did what you requested

[2019-12-10 12:28] zzossig commented on #72
As you can see [here](https://github.com/thingsym/hugo-theme-techdoc/blob/d6d3a9370b4a89a6e5c81f4a5778f940b11daa14/exampleSite/config.toml#L1)
techdoc theme does not have the end of backslash but the theme also have a double backslash issue.

tell me what I'm doing wrong.

[2019-12-10 12:43] onedrawingperday commented on #72
How?

You still haven't removed the backslash from the exampleSite config as I requested above.

And commit it to the zzo theme repo.  (Obviously).

I need to trigger a proper deploy preview of the Hugo Themes website.

Also please keep communication to a minimum. You asked about your theme demo.

I cannot explain the architecture of Hugo Themes on demand.
There are more important things to do tha

[2019-12-10 12:45] zzossig commented on #72
@onedrawingperday sorry,
I just commited

[2019-12-10 15:18] onedrawingperday commented on #72
After much investigation it seems like this is related to this longstanding and open bug:

https://github.com/gohugoio/hugo/issues/3568

~~I'm closing this issue since it depends on the one I linked to, at the main Hugo repo.~~

But I'm not sure. I have re-opened the issue.

Maybe someone else has the time to look into it.

[2019-12-10 15:23] zzossig commented on #72
I'm so sorry for taking too much time. I should have searched for it

[2019-12-22 09:59] #49 closed

[2019-12-23 19:50] #38 closed

[2020-01-30 02:39] #72 closed

[2020-05-23 07:13] #68 closed

[2020-07-26 15:03] queensferryme opened #73 "The `.git` directory is extremely bloated"
I have been following the [directions](https://github.com/gohugoio/hugoThemes#testing-a-theme-with-the-hugo-themes-website-build-script) from [gohugoio/hugoThemes](https://github.com/gohugoio/hugoThemes) to test my [theme](https://github.com/queensferryme/hugo-theme-texify).

Runing the `reviewTheme.sh` script will clone this repo, and it takes extremely long time (due to slow network connections)

[2021-06-21 06:27] pm-bhatt opened #74 "Cupper Theme in Hugo not working"
I tried to use Cupper theme in Hugo site. It does not work

Gives below error :  **_themes/cupper-hugo-theme-master/layouts/partials/head.html:14:1": parse failed: template: partials/head.html:14: unclosed action_**

[2021-06-21 06:28] pm-bhatt commented on #74
I am using Ubuntu 20.10 LTS as WSL. Other themes are working fine but the problem is with this theme only

[2021-06-21 07:01] coliff commented on #74
Is it this one: https://github.com/zwbetz-gh/cupper-hugo-theme ?
If so, I think it'd be worthwhile opening an issue there.

[2021-06-21 07:12] pm-bhatt commented on #74
Hi @coliff: Yes this is the theme. And I will surely report the issue there.

Apology from my end, I am new to Github and learning how to contribute

[2021-06-21 07:26] #74 closed

[2021-07-06 16:05] digitalcraftsman opened #75 "Previous and next theme linked without their name"
![grafik](https://user-images.githubusercontent.com/7010165/124632425-9ca46180-de84-11eb-882b-aef265dbf3e5.png)

Example: https://themes.gohugo.io/themes/hugo-theme-even/

[2021-08-07 10:10] lupsa commented on #70
this one is already fixed

[2021-08-07 19:17] #70 closed

[2022-03-31 08:20] #69 closed